{% extends 'catlibrary/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">

    <h2 class="mb-4">Связаться с нами</h2>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">{{ form.subject.label }}</label>
            {{ form.subject }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.email.label }}</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label class="form-label">{{ form.text.label }}</label>
            {{ form.text }}
        </div>

        <button type="submit" class="btn btn-warning w-100">
            Отправить
        </button>
    </form>

</div>
{% endblock %}