{% extends 'catlibrary/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container" style="margin-top: 2rem;">
    <h1>{{ title }}</h1>
    <p>{{ welcome_text }}</p>
    <a href="{% url 'catlibrary:about' %}" class="btn btn-warning btn-lg">Смотреть породы</a>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 16rem; margin-top: 3rem; margin-bottom: 3rem">
                <img style="height: 250px;" src="{% static 'images/cat_k.jpg' %}" alt="Каталог пород">
                <div class="card-body">
                    <h5 class="card-title">Каталог пород</h5>
                    <p class="card-text">Описания, характер, фото</p>
                    <a href="{% url 'catlibrary:about' %}" class="btn btn-warning">Смотреть</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 16rem; margin-top: 3rem; margin-bottom: 3rem">
                <img style="height: 250px;" src="{% static 'images/cat_m.jpg' %}" alt="Уход и содержание">
                <div class="card-body">
                    <h5 class="card-title">Уход и содержание</h5>
                    <p class="card-text">Питание и профилактика</p>
                    <a href="{% url 'catlibrary:about' %}" class="btn btn-warning">Смотреть</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 16rem; margin-top: 3rem; margin-bottom: 3rem">
                <img style="height: 250px;" src="{% static 'images/cat_s.jpg' %}" alt="Подбор породы">
                <div class="card-body">
                    <h5 class="card-title">Подбор породы</h5>
                    <p class="card-text">Мини-тест: подберем породу</p>
                    <a href="{% url 'catlibrary:about' %}" class="btn btn-warning">Смотреть</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}